.alert {
    padding: 8px 15px 8px 15px;
    margin: 10px auto;
}
.alert-danger {
    background-color: #f9d6d5;
    border-radius: 10px;
    color: #761b18
}

.alert-success {
    color: #1d643b;
    background-color: #d7f3e3;
    border-color: #c7eed8;
}